openapi: 3.1.0
info:
  title: Rafiki Authorization Server - Resource Server Connection
  version: '1.0'
  license:
    name: Apache 2.0
    identifier: Apache-2.0
  summary: Rafiki Authorization Server - Resource Server Connection
  description: 'The Open Payments API is secured via [GNAP](https://datatracker.ietf.org/doc/html/draft-ietf-gnap-core-protocol). This specification describes the connection between the Rafiki Open Payments Authorization Server and the Rafiki Open Payments Resource Server, which is an opinionated version of the [Grant Negotiation and Authorization Protocol Resource Server Connections](https://datatracker.ietf.org/doc/html/draft-ietf-gnap-resource-servers).'
  contact:
    email: tech@interledger.org
servers:
  - url: 'https://openpayments.guide/auth'
tags:
  - name: introspection
    description: Token introspection
paths:
  /:
    parameters: []
    post:
      summary: Introspect Access Token
      operationId: post-introspect
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      active:
                        enum:
                          - false
                    required:
                      - active
                  - $ref: '#/components/schemas/token-info'
              examples:
                Token Introspection:
                  value:
                    active: true
                    grant: 1ee48d97-8fa1-4ab4-b89d-95284b665517
                    access:
                      - type: outgoing-payment
                        actions:
                          - create
                          - read
                        identifier: 'https://openpayments.guide/alice'
                        limits:
                          interval: 'R12/2019-08-24T14:15:22Z/P1M'
                          receiver: 'https://openpayments.guide/bob/incoming-payments/48884225-b393-4872-90de-1b737e2491c2'
                          sendAmount:
                            value: '500'
                            assetCode: USD
                            assetScale: 2
                    key:
                      proof: httpsig
                      jwk:
                        alg: EdDSA
                        kid: 20f24ce2-a5f6-4f28-bf7d-ed52d0490187
                        kty: OKP
                        use: sig
                        crv: Ed25519
                        x: AAAAC3NzaC1lZDI1NTE5AAAAIK0wmN/Cr3JXqmLW7u+g9pTh+wyqDHpSQEIQczXkVx9q
                    client_id: 581a1dd9-aef5-4b1a-9d78-c1afc4a5fdbf
        '404':
          description: Not Found
      description: Introspect an access token to get grant details.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                access_token:
                  type: string
                  description: The access token value presented to the RS by the client instance.
                access:
                  $ref: ./schemas.yaml#/components/schemas/access
              required:
                - access_token
            examples:
              Introspect token:
                value:
                  access_token: OS9M2PMHKUR64TB8N6BW7OZB8CDFONP219RP1LT0
      tags:
        - introspection
components:
  schemas:
    key:
      title: key
      type: object
      description: A key presented by value MUST be a public key.
      properties:
        proof:
          type: string
          enum:
            - httpsig
          description: The form of proof that the client instance will use when presenting the key.
        jwk:
          type: object
          properties:
            kid:
              type: string
            alg:
              type: string
              description: 'The cryptographic algorithm family used with the key. The only allowed value is `EdDSA`. '
              enum:
                - EdDSA
            use:
              type: string
              enum:
                - sig
            kty:
              type: string
              enum:
                - OKP
            crv:
              type: string
              enum:
                - Ed25519
            x:
              type: string
              pattern: '^[a-zA-Z0-9-_]+$'
              description: The base64 url-encoded public key.
          required:
            - kid
            - alg
            - kty
            - crv
            - x
          title: Ed25519 Public Key
          description: A JWK representation of an Ed25519 Public Key
          examples:
            - kid: key-1
              use: sig
              kty: OKP
              crv: Ed25519
              x: 11qYAYKxCrfVS_7TyWQHOg7hcvPapiMlrwIaaPcHURo
            - kid: '2022-09-02'
              use: sig
              kty: OKP
              crv: Ed25519
              x: oy0L_vTygNE4IogRyn_F5GmHXdqYVjIXkWs2jky7zsI
      required:
        - proof
        - jwk
    token-info:
      title: token-info
      type: object
      properties:
        active:
          enum:
            - true
        grant:
          type: string
        access:
          $ref: ./schemas.yaml#/components/schemas/access
        key:
          $ref: '#/components/schemas/key'
        client_id:
          type: string
          description: Opaque client identifier.
      required:
        - active
        - grant
        - access
        - key
        - client_id
  securitySchemes:
    GNAP:
      name: Authorization
      type: apiKey
      in: header
security:
  - GNAP: []
