@import '../styles/_variables';

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: $admin-panel-background;
}

td,
th {
  border: none;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: $admin-panel-background;
}

ul {
  margin: 0;
  list-style-type: none;
  list-style: none;

  li {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

ul.values {
  padding-inline-start: 0;
}

th,
td {
  a:link,
  a:visited,
  a:active,
  a:hover {
    text-decoration: none;
    color: $black;
  }
}
