openapi: 3.1.0
info:
  title: Rafiki Authorization Server - Identity Provider Connection
  version: '1.0'
  license:
    name: Apache 2.0
    identifier: Apache-2.0
  summary: Rafiki Authorization Server - Identity Provider Connection
  description: 'The Open Payments APIs are secured via [GNAP](https://datatracker.ietf.org/doc/html/draft-ietf-gnap-core-protocol). This specification describes the interaction endpoints used between a Rafiki Open Payments authorization server and an identity provider.'
  contact:
    email: tech@interledger.org
servers:
  - url: 'https://openpayments.dev/auth'
tags:
  - name: front-channel
    description: Redirect URLs
  - name: back-channel
    description: Endpoints to request or modify grant information
paths:
  '/interact/{id}/{nonce}':
    get:
      summary: Start user interaction session
      responses:
        '302':
          content:
            text/html:
              schema:
                type: string
                nullable: true
          description: Found
          headers:
            Location:
              schema:
                type: string
              description: Identity server endpoint
            Cookie:
              schema:
                type: string
              description: Interaction id
        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-unknown-interaction'
        '403':
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-invalid-interaction'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: './auth-server.yaml#/components/schemas/error-request-denied'
      operationId: get-interact
      parameters:
        - schema:
            type: string
          name: id
          in: path
          required: true
          description: Interaction id
        - schema:
            type: string
          in: path
          name: nonce
          required: true
          description: 'Unique value to be used in the calculation of the "hash" query parameter sent to the callback URI. Must be sufficiently random to be unguessable by an attacker. MUST be generated by the client instance as a unique value for this request.'
        - schema:
            type: string
          name: clientName
          in: query
          required: true
          description: 'Name of the client that created the grant'
        - schema:
            type: string
          name: clientUri
          in: query
          required: true
          description: 'URI of the client that created the grant'
      description: 'This endpoint is called by the client to start the user interaction session for grant approval. The endpoint redirects the user to an identity provider endpoint for authentication.'
      tags:
        - front-channel
  '/interact/{id}/{nonce}/finish':
    get:
      summary: Finish user interaction
      operationId: get-finish-interaction
      responses:
        '202':
          description: Accepted
        '302':
          content:
            text/html:
              schema:
                type: string
                nullable: true
          description: Found
          headers:
            Location:
              schema:
                type: string
              description: Client finish endpoint
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: './auth-server.yaml#/components/schemas/error-invalid-request'
                  - $ref: '#/components/schemas/error-invalid-interaction'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-unknown-interaction'
      description: "To finish the user interaction for grant approval, this endpoint redirects the user to the client's finish url."
      parameters:
        - schema:
            type: string
          in: path
          name: id
          required: true
          description: Interaction id
        - schema:
            type: string
          in: path
          name: nonce
          required: true
          description: 'Unique value to be used in the calculation of the "hash" query parameter sent to the callback URI. Must be sufficiently random to be unguessable by an attacker. MUST be generated by the client instance as a unique value for this request.'
      tags:
        - front-channel
  '/grant/{id}/{nonce}':
    get:
      summary: Look up grant information
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  access:
                    $ref: ./auth-server.yaml#/components/schemas/access
                  state:
                    description: |-
                      Interaction state:
                      * `PENDING` - Awaiting interaction from resource owner
                      * `APPROVED` - Resource owner approved interaction
                      * `DENIED` - Resource owner rejected interaction
                    type: string
                    enum:
                      - PENDING
                      - APPROVED
                      - DENIED
                  grantId:
                    description: Id of a grant
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: './auth-server.yaml#/components/schemas/error-invalid-request'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-unknown-interaction'
      operationId: get-grant
      description: |
        This endpoint is called by the identity provider to get the grant details associated with the `interactId` on the front-channel. The identity provider will display the details to the user to either accept or deny.
      parameters:
        - schema:
            type: string
          name: id
          in: path
          required: true
          description: Interaction id
        - schema:
            type: string
          in: path
          name: nonce
          required: true
          description: 'Unique value to be used in the calculation of the "hash" query parameter sent to the callback URI. Must be sufficiently random to be unguessable by an attacker. MUST be generated by the client instance as a unique value for this request.'
      tags:
        - back-channel
  '/grant/{id}/{nonce}/{choice}':
    post:
      summary: Accept or reject a grant
      operationId: post-grant-choice
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/error-invalid-interaction'
                  - $ref: './auth-server.yaml#/components/schemas/error-invalid-request'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/error-invalid-interaction'
                  - $ref: '#/components/schemas/error-user-denied'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-unknown-interaction'
      description: The Identity Provider uses this endpoint to submit the user's choice regarding accepting or rejecting a grant to Authorization Server.
      parameters:
        - schema:
            type: string
          name: id
          in: path
          required: true
          description: Interaction id
        - schema:
            type: string
          in: path
          name: nonce
          required: true
          description: 'Unique value to be used in the calculation of the "hash" query parameter sent to the callback URI. Must be sufficiently random to be unguessable by an attacker. MUST be generated by the client instance as a unique value for this request.'
        - schema:
            type: string
            enum:
              - accept
              - reject
          in: path
          name: choice
          required: true
          description: Indicates the consent choice for a grant (i.e. acceptance or rejection)
      tags:
        - back-channel
components:
  schemas:
    error-unknown-interaction:
      type: object
      properties:
        error:
          type: object
          properties:
            description:
              type: string
            code:
              type: string
              enum:
                - unknown_interaction
    error-invalid-interaction:
      type: object
      properties:
        error:
          type: object
          properties:
            description:
              type: string
            code:
              type: string
              enum:
                - invalid_interaction
    error-user-denied:
      type: object
      properties:
        error:
          type: object
          properties:
            description:
              type: string
            code:
              type: string
              enum:
                - user_denied
  securitySchemes:
    GNAP:
      name: Authorization
      type: apiKey
      in: header
security:
  - GNAP: []
