name: hl
services:
  happy-life-bank-card-service:
    hostname: happy-life-bank-card-service
    image: rafiki-card-service
    build:
      context: ../..
      dockerfile: ./packages/card-service/Dockerfile.dev
    restart: always
    networks:
      - rafiki
    ports:
      - '4007:3007'
    volumes:
      - type: bind
        source: ../../packages/card-service/src
        target: /home/rafiki/packages/card-service/src
        read_only: true
    environment:
      NODE_ENV: ${NODE_ENV:-development}
      INSTANCE_NAME: HAPPY-LIFE
      TRUST_PROXY: ${TRUST_PROXY}
      LOG_LEVEL: debug
      CARD_SERVICE_PORT: 3007
      DATABASE_URL: postgresql://happy_life_bank_card_service:happy_life_bank_card_service@shared-database/happy_life_bank_card_service
    depends_on:
      - shared-database
    healthcheck:
      test: ["CMD", "wget", "--spider", "http://localhost:3007/healthz"]
      start_period: 60s
      start_interval: 5s
      interval: 30s
      retries: 1
      timeout: 3s
  happy-life-bank-point-of-sale: 
    hostname: happy-life-bank-point-of-sale
    image: rafiki-point-of-sale 
    build: 
      context: ../.. 
      dockerfile: ./packages/point-of-sale/Dockerfile.dev 
    restart: always 
    networks: 
      - rafiki 
    ports: 
      - '3007:3007' 
    volumes: 
      - type: bind 
        source: ../../packages/point-of-sale/src 
        target: /home/rafiki/packages/point-of-sale/src 
        read_only: true 
    environment: 
      NODE_ENV: ${NODE_ENV:-development} 
      INSTANCE_NAME: HAPPY-LIFE 
      TRUST_PROXY: ${TRUST_PROXY} 
      LOG_LEVEL: debug 
      CARD_SERVICE_PORT: 3007 
      DATABASE_URL: postgresql://happy_life_bank_point_of_sale:happy_life_bank_point_of_sale@shared-database/happy_life_bank_point_of_sale
    depends_on: 
      - shared-database 
    healthcheck: 
      test: ["CMD", "wget", "--spider", "http://localhost:3007/healthz"] 
      start_period: 60s 
      start_interval: 5s 
      interval: 30s 
      retries: 1 
      timeout: 3s 
  happy-life-mock-ase:
    hostname: happy-life-bank
    image: rafiki-mock-ase
    pull_policy: never
    restart: always
    networks:
      - rafiki
    ports:
      - '3031:80'
    environment:
      LOG_LEVEL: debug
      PORT: 80
      SEED_FILE_LOCATION: /workspace/seed.yml
      KEY_FILE: /workspace/private-key.pem
      OPEN_PAYMENTS_URL: ${HAPPY_LIFE_BANK_OPEN_PAYMENTS_URL:-https://happy-life-bank-backend}
      GRAPHQL_URL: http://happy-life-bank-backend:3001/graphql
      SIGNATURE_VERSION: 1
      SIGNATURE_SECRET: iyIgCprjb9uL8wFckR+pLEkJWMB7FJhgkvqhTQR/964=
      IDP_SECRET: 2pEcn2kkCclbOHQiGNEwhJ0rucATZhrA807HTm2rNXE=
      DISPLAY_NAME: Happy Life Bank
      DISPLAY_ICON: bank-icon.svg
      OPERATOR_TENANT_ID: cf5fd7d3-1eb1-4041-8e43-ba45747e9e5d
      FRONTEND_PORT: 4010
    volumes:
      - ../happy-life-bank/seed.yml:/workspace/seed.yml
      - ../happy-life-bank/private-key.pem:/workspace/private-key.pem
    depends_on:
      happy-life-backend:
        condition: service_healthy
      cloud-nine-mock-ase:
        condition: service_started
  happy-life-backend:
    hostname: happy-life-bank-backend
    image: rafiki-backend
    pull_policy: never
    volumes:
      - type: bind
        source: ../../packages/backend/src
        target: /home/rafiki/packages/backend/src
        read_only: true
    restart: always
    privileged: true
    ports:
      - "4000:80"
      - "4001:3001"
      - "4002:3002"
      - '9231:9229'
    networks:
      - rafiki
    environment:
      NODE_ENV: development
      INSTANCE_NAME: HAPPY-LIFE
      LOG_LEVEL: debug
      ADMIN_PORT: 3001
      CONNECTOR_PORT: 3002
      OPEN_PAYMENTS_PORT: 80
      DATABASE_URL: postgresql://happy_life_bank_backend:happy_life_bank_backend@shared-database/happy_life_bank_backend
      USE_TIGERBEETLE: false
      AUTH_SERVER_GRANT_URL: ${HAPPY_LIFE_BANK_AUTH_SERVER_DOMAIN:-http://happy-life-bank-auth:3006}
      AUTH_SERVER_INTROSPECTION_URL: http://happy-life-bank-auth:3007
      AUTH_ADMIN_API_URL: 'http://happy-life-bank-auth:4003/graphql'
      AUTH_ADMIN_API_SECRET: 'rPoZpe9tVyBNCigm05QDco7WLcYa0xMao7lO5KG1XG4='
      AUTH_SERVICE_API_URL: 'http://happy-life-bank-auth:4011'
      ILP_ADDRESS: test.happy-life-bank
      ILP_CONNECTOR_URL: http://happy-life-bank-backend:4002
      STREAM_SECRET: BjPXtnd00G2mRQwP/8ZpwyZASOch5sUXT5o0iR5b5wU=
      API_SECRET: iyIgCprjb9uL8wFckR+pLEkJWMB7FJhgkvqhTQR/964=
      WEBHOOK_URL: http://happy-life-bank/webhooks
      EXCHANGE_RATES_URL: http://happy-life-bank/rates
      OPEN_PAYMENTS_URL: ${HAPPY_LIFE_BANK_OPEN_PAYMENTS_URL:-https://happy-life-bank-backend}
      REDIS_URL: redis://shared-redis:6379/2
      WALLET_ADDRESS_URL: ${HAPPY_LIFE_BANK_WALLET_ADDRESS_URL:-https://happy-life-bank-backend/.well-known/pay}
      ENABLE_TELEMETRY: true
      KEY_ID: 53f2d913-e98a-40b9-b270-372d0547f23d
      OPERATOR_TENANT_ID: cf5fd7d3-1eb1-4041-8e43-ba45747e9e5d
    depends_on:
      - cloud-nine-backend
    healthcheck:
      test: ["CMD", "wget", "--spider", "http://localhost:3001/healthz"]
      start_period: 60s
      start_interval: 5s
      interval: 30s
      retries: 1
      timeout: 3s
  happy-life-auth:
    hostname: happy-life-bank-auth
    image: rafiki-auth
    pull_policy: never
    restart: always
    volumes:
      - type: bind
        source: ../../packages/auth/src
        target: /home/rafiki/packages/auth/src
        read_only: true
    networks:
      - rafiki
    ports:
      - '4003:3003'
      - '4006:3006'
      - '9232:9229'
      - '4009:3009'
      - '4011:4011'
    environment:
      NODE_ENV: development
      AUTH_DATABASE_URL: postgresql://happy_life_bank_auth:happy_life_bank_auth@shared-database/happy_life_bank_auth
      AUTH_SERVER_URL: ${HAPPY_LIFE_BANK_AUTH_SERVER_DOMAIN:-http://localhost:4006}
      REDIS_URL: redis://shared-redis:6379/3
      IDENTITY_SERVER_URL: http://localhost:3031/mock-idp/
      IDENTITY_SERVER_SECRET: 2pEcn2kkCclbOHQiGNEwhJ0rucATZhrA807HTm2rNXE=
      COOKIE_KEY: 42397d1f371dd4b8b7d0308a689a57c882effd4ea909d792302542af47e2cd37
      ADMIN_API_SECRET: rPoZpe9tVyBNCigm05QDco7WLcYa0xMao7lO5KG1XG4=
      OPERATOR_TENANT_ID: cf5fd7d3-1eb1-4041-8e43-ba45747e9e5d
      SERVICE_API_PORT: 4011
    depends_on:
      - cloud-nine-auth
  happy-life-admin:
    hostname: happy-life-bank-admin
    image: rafiki-frontend
    pull_policy: never
    volumes:
      - type: bind
        source: ../../packages/frontend/app
        target: /home/rafiki/packages/frontend/app
        read_only: true
    restart: always
    networks:
      - rafiki
    ports:
      - '4010:4010'
    environment:
      PORT: 4010
      LOG_LEVEL: debug
      NODE_ENV: development
      GRAPHQL_URL: http://happy-life-bank-backend:3001/graphql
      OPEN_PAYMENTS_URL: https://happy-life-bank-backend/
      ENABLE_INSECURE_MESSAGE_COOKIE: true
      AUTH_ENABLED: false
      SIGNATURE_VERSION: 1
    depends_on:
      - cloud-nine-admin
      - happy-life-backend
