openapi: 3.1.0
info:
  title: Rafiki Authorization Server - Identity Provider Connection
  version: '1.0'
  license:
    name: Apache 2.0
    identifier: Apache-2.0
  summary: Rafiki Authorization Server - Identity Provider Connection
  description: 'The Open Payments API is secured via [GNAP](https://datatracker.ietf.org/doc/html/draft-ietf-gnap-core-protocol). This specification describes the connection between the Rafiki Open Payments Authorization Server and an Identity Provider.'
  contact:
    email: tech@interledger.org
servers:
  - url: 'https://openpayments.guide/auth'
tags:
  - name: front-channel
    description: Redirect URLs
  - name: back-channel
    description: Endpoints to request or modify grant information
paths:
  '/interact/{id}/{nonce}':
    get:
      summary: Start user interaction
      responses:
        '302':
          content:
            text/html:
              schema:
                type: string
                nullable: true
          description: Found
          headers:
            Location:
              schema:
                type: string
              description: Identity server endpoint
            Cookie:
              schema:
                type: string
              description: Interaction id
        '401':
          description: Unauthorized
      operationId: get-interact
      parameters:
        - schema:
            type: string
          name: id
          in: path
          required: true
          description: Interaction id
        - schema:
            type: string
          in: path
          name: nonce
          required: true
          description: 'Unique value to be used in the calculation of the "hash" query parameter sent to the callback URI, must be sufficiently random to be unguessable by an attacker.  MUST be generated by the client instance as a unique value for this request.'
      description: 'To start the user interaction for grant approval, this endpoint redirects the user to an Identity provider endpoint for authentication.'
      tags:
        - front-channel
  '/interact/{id}/{nonce}/finish':
    get:
      summary: Finish user interaction
      operationId: get-finish-interaction
      responses:
        '302':
          content:
            text/html:
              schema:
                type: string
                nullable: true
          description: Found
          headers:
            Location:
              schema:
                type: string
              description: Client finish endpoint
        '401':
          description: Unauthorized
      description: "To finish the user interaction for grant approval, this endpoint redirects the user to the client's finish url."
      parameters:
        - schema:
            type: string
          in: path
          name: id
          required: true
          description: Interaction id
        - schema:
            type: string
          in: path
          name: nonce
          required: true
          description: 'Unique value to be used in the calculation of the "hash" query parameter sent to the callback URI, must be sufficiently random to be unguessable by an attacker.  MUST be generated by the client instance as a unique value for this request.'
      tags:
        - front-channel
  '/grant/{id}/{nonce}':
    get:
      summary: Lookup Grant
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  access:
                    $ref: ./schemas.yaml#/components/schemas/access
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: get-grant
      description: |
        The Identity Provider uses this endpoint to requests the grant details associated with the provided `interactId` on the front-channel. It will then display those details to the user to either accept or deny the grant.
      parameters:
        - schema:
            type: string
          name: id
          in: path
          required: true
          description: Interaction id
        - schema:
            type: string
          in: path
          name: nonce
          required: true
          description: 'Unique value to be used in the calculation of the "hash" query parameter sent to the callback URI, must be sufficiently random to be unguessable by an attacker.  MUST be generated by the client instance as a unique value for this request.'
      tags:
        - back-channel
  '/grant/{id}/{nonce}/{choice}':
    post:
      summary: Accept or reject a grant
      operationId: post-grant-choice
      responses:
        '202':
          description: Accepted
        '400':
          description: Not Found
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: The Identity Provider uses this endpoint to submit the user's choice regarding accepting or rejecting a grant to Authorization Server.
      parameters:
        - schema:
            type: string
          name: id
          in: path
          required: true
          description: Interaction id
        - schema:
            type: string
          in: path
          name: nonce
          required: true
          description: 'Unique value to be used in the calculation of the "hash" query parameter sent to the callback URI, must be sufficiently random to be unguessable by an attacker.  MUST be generated by the client instance as a unique value for this request.'
        - schema:
            type: string
            enum:
              - accept
              - reject
          in: path
          name: choice
          required: true
          description: Indicates the consent choice for a grant (i.e. acceptance or rejection)
      tags:
        - back-channel
components:
  schemas: {}
  securitySchemes:
    GNAP:
      name: Authorization
      type: apiKey
      in: header
security:
  - GNAP: []
