version: '3'
services:
  auth:
    image: ghcr.io/interledger/rafiki-auth:latest
    restart: always
    networks:
      rafiki:
    environment:
      NODE_ENV: development
      AUTH_DATABASE_URL: postgresql://auth:auth@database/auth
      AUTH_SERVER_SPEC: https://raw.githubusercontent.com/interledger/open-payments/fefe62d738e5178bad88fba04856e41430181eac/auth-server-open-api-spec.yaml
    depends_on:
      - tigerbeetle
      - database
  mock-account-provider:
    build:
      context: ../..
      dockerfile: ./packages/mock-account-provider/Dockerfile
    restart: always
    networks:
      rafiki:
    environment:
      NODE_ENV: development
      LOG_LEVEL: debug
      PORT: 80
  backend:
    image: ghcr.io/interledger/rafiki-backend:latest
    restart: always
    privileged: true
    ports:
      - "3001:80"
    networks:
      rafiki:
    environment:
      NODE_ENV: development
      LOG_LEVEL: debug
      DATABASE_URL: postgresql://backend:backend@database/backend
      REDIS_URL: redis://redis:6379
      TIGERBEETLE_CLUSTER_ID: 0
      # Tigerbeetle will support DNS in future
      TIGERBEETLE_REPLICA_ADDRESSES: '["10.5.0.50:4342"]'
      NONCE_REDIS_KEY: test
      AUTH_SERVER_GRANT_URL: http://auth:3006
      AUTH_SERVER_INTROSPECTION_URL: http://auth:3006/introspect
      ILP_ADDRESS: test.rafiki
      STREAM_SECRET: BjPXtnd00G2mRQwP/8ZpwyZASOch5sUXT5o0iR5b5wU=
      ADMIN_KEY: admin
      ADMIN_HOST: rafiki.test:3001
      OPEN_PAYMENTS_HOST: wallet.rafiki.test:3003
      CONNECTOR_HOST: ilp.rafiki.test:3002
      WEBHOOK_URL: https://end3sf6r22xva.x.pipedream.net
      OPEN_PAYMENTS_SPEC: https://raw.githubusercontent.com/interledger/open-payments/main/open-api-spec.yaml
      AUTH_SERVER_SPEC: https://raw.githubusercontent.com/interledger/open-payments/fefe62d738e5178bad88fba04856e41430181eac/auth-server-open-api-spec.yaml
      PRICES_URL: http://rates/prices
      REDIS_URL: redis://redis:6379
      QUOTE_URL: http://mock-account-provider/quotes
    depends_on:
      - tigerbeetle
      - database
      - redis
  database:
    image: "postgres" # use latest official postgres version
    restart: unless-stopped
    networks:
      rafiki:
    volumes:
      - database-data:/var/lib/postgresql/data/ # persist data even if container shuts down
      - ./dbinit.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
  tigerbeetle:
    image: ghcr.io/coilhq/tigerbeetle@sha256:c312832a460e7374bcbd4bd4a5ae79b8762f73df6363c9c8106c76d864e21303
    restart: unless-stopped
    privileged: true
    volumes:
      - tigerbeetle-data:/var/lib/tigerbeetle
    networks:
      rafiki:
        ipv4_address: 10.5.0.50
    entrypoint:
      - /bin/sh
      - -c
      - | 
        set -ex
        DATA_FILE=/var/lib/tigerbeetle/cluster_0000000000_replica_000.tigerbeetle
        set +e
        ls $$DATA_FILE
        DATA_FILE_EXISTS="$$?"
        set -e
        echo $$DATA_FILE_EXISTS
        if [ "$$DATA_FILE_EXISTS" != 0 ]; then 
          /opt/beta-beetle/tigerbeetle init --cluster=0 --replica=0 --directory=/var/lib/tigerbeetle; 
        fi
        hostname -I
        ls /var/lib/tigerbeetle
        DATA_FILE=/var/lib/tigerbeetle/cluster_0000000000_replica_000.tigerbeetle
        /opt/beta-beetle/tigerbeetle start --cluster="0" --replica="0" --directory=/var/lib/tigerbeetle --addresses=0.0.0.0:4342
  redis:
    image: "redis:5" # use latest official postgres version
    restart: unless-stopped
    networks:
      rafiki:
volumes:
  database-data: # named volumes can be managed easier using docker-compose
  tigerbeetle-data: # named volumes can be managed easier using docker-compose

networks:
  rafiki:
    driver: bridge
    ipam:
     config:
       - subnet: 10.5.0.0/24
         gateway: 10.5.0.1
