// Colors
$white: #fff;
$black: #000;
$red: #f00;
$gray: #808080;
$tooltip-background: #555;
$admin-panel-background: #fbf7f4;
$menu-item-highlight: #eee6e2;
$button-color: #eee6e2;
$button-highlight: #e3d7d0;
$button-disabled: #e2e2e2;
